@tailwind base;
@tailwind components;
@tailwind utilities;

.line-height-lg {
    line-height: 28px;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit !important;
}

/* ::-webkit-scrollbar-thumb {
    background: #fbfbfb;
}

::-webkit-scrollbar-track {
    background: #f2f1f4;
} */
